html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

header#siteHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 54px;
}

.particles {
  z-index: -999;
  height: 50%;
  width: 100%;
}